-- MySQL dump 10.13  Distrib 8.0.41, for Win64 (x86_64)
--
-- Host: localhost    Database: agendamento_hospitalar
-- ------------------------------------------------------
-- Server version	8.0.41

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `consulta`
--

DROP TABLE IF EXISTS `consulta`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `consulta` (
  `id_consulta` int NOT NULL,
  `dataHora` datetime NOT NULL,
  `status` varchar(50) DEFAULT NULL,
  `paciente_id` int DEFAULT NULL,
  `medico_id` int DEFAULT NULL,
  PRIMARY KEY (`id_consulta`),
  KEY `medico_id` (`medico_id`),
  KEY `paciente_id` (`paciente_id`),
  CONSTRAINT `consulta_ibfk_1` FOREIGN KEY (`medico_id`) REFERENCES `medico` (`id_medico`),
  CONSTRAINT `consulta_ibfk_2` FOREIGN KEY (`paciente_id`) REFERENCES `paciente` (`id_paciente`),
  CONSTRAINT `check_status_consulta` CHECK ((`status` in (_utf8mb4'agendada',_utf8mb4'cancelada',_utf8mb4'conclu├¡da')))
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `consulta`
--

LOCK TABLES `consulta` WRITE;
/*!40000 ALTER TABLE `consulta` DISABLE KEYS */;
/*!40000 ALTER TABLE `consulta` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `especialidade`
--

DROP TABLE IF EXISTS `especialidade`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `especialidade` (
  `id_especialidade` int NOT NULL,
  `descricao` varchar(200) NOT NULL,
  PRIMARY KEY (`id_especialidade`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `especialidade`
--

LOCK TABLES `especialidade` WRITE;
/*!40000 ALTER TABLE `especialidade` DISABLE KEYS */;
INSERT INTO `especialidade` VALUES (1,'Cardiologia'),(2,'Dermatologia'),(3,'Neurologia'),(4,'Pediatria'),(5,'Ortopedia'),(6,'Ginecologia'),(7,'Oftalmologia'),(8,'Psiquiatria'),(9,'Endocrinologia'),(10,'Gastroenterologia'),(11,'Urologia'),(13,'Hematologia'),(14,'Nefrologia'),(15,'Infectologia'),(16,'Otorrinolaringologia'),(17,'Cirurgia Geral'),(18,'Oncologia'),(19,'Radiologia'),(20,'Anestesiologia');
/*!40000 ALTER TABLE `especialidade` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `medico`
--

DROP TABLE IF EXISTS `medico`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `medico` (
  `id_medico` int NOT NULL,
  `nome` varchar(100) NOT NULL,
  `crm` varchar(50) DEFAULT NULL,
  `especialidade_id` int DEFAULT NULL,
  `telefone` varchar(15) DEFAULT NULL,
  `email` varchar(100) DEFAULT NULL,
  PRIMARY KEY (`id_medico`),
  KEY `especialidade_id` (`especialidade_id`),
  CONSTRAINT `medico_ibfk_1` FOREIGN KEY (`especialidade_id`) REFERENCES `especialidade` (`id_especialidade`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `medico`
--

LOCK TABLES `medico` WRITE;
/*!40000 ALTER TABLE `medico` DISABLE KEYS */;
/*!40000 ALTER TABLE `medico` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `paciente`
--

DROP TABLE IF EXISTS `paciente`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `paciente` (
  `id_paciente` int NOT NULL,
  `nome` varchar(100) NOT NULL,
  `dataNascimento` date DEFAULT NULL,
  `telefone` varchar(15) DEFAULT NULL,
  `email` varchar(100) DEFAULT NULL,
  PRIMARY KEY (`id_paciente`),
  KEY `IN_Paciente_Nome` (`nome`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `paciente`
--

LOCK TABLES `paciente` WRITE;
/*!40000 ALTER TABLE `paciente` DISABLE KEYS */;
/*!40000 ALTER TABLE `paciente` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2025-11-06 14:12:31
use agendamento_hospitalar;

SHOW TABLES;

SHOW CREATE TABLE paciente;

DESCRIBE especialidade;

SELECT * FROM medico LIMIT 10;

select n.nome, d.dataHora, e.nome_especialidade
from consulta
inner join paciente p on p.id_paciente = c.paciente_id
inner join especialidade e on e.id_especialidade = c.especialidade_id;


SELECT COUNT(*) AS total_consultas;

--Contar o total de consultas por médico.

select m.nome, count (c.id_consulta) as total_consultas
from medico m
inner join consulta c on c.medico_id = m.id_medico
group by m.nome;

--Buscar todos os médicos de uma especialidade.

select * from medico where especialidade_id = 20;


--Encontrar pacientes atendidos por determinado médico

select p.nome, m.nome as nome_medico
from paciente p
inner join consulta c on c.paciente_id = p.id_paciente
LEFT JOIN medico m on m.id_medico = c.medico_id;


--Consultar todas as consultas de um determinado dia/hora.
select * from consulta where dataHora = '2025-12-09 13:00:00'; 

--Buscar paciente cujo nome tem 'Oliviera'.

select * from paciente where nome like '%Oliveira%';

--Estrutura de uma tabela.
DESCRIBE paciente;

SHOW TABLES;
--Inserindo dados na tabela paciente.
insert into paciente (id_paciente, nome, dataNascimento, telefone, email) VALUES
(41,'Ana Paula Silva', '1990-05-15', '11987654321', 'ana.paula.silva@gmail.com');

select * from paciente;

--Atualizando uma tabela e depois deletando um registro de especialidade. 
delete from especialidade where id_especialidade = '12';

update medico set especialidade_id = null where especialidade_id = 12;

select * FROM especialidade;

